In [1]:
print("hello data mining")  #w:ctrl+enter   mac:command+enter

hello data mining

In [2]:

print("hello"*100)

hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello

In [3]:
print("hello")

hello

In [4]:
a=10
b=20
print(a+b+c)

NameError: name 'c' is not defined

Data types: integers,float, strings, boolean, lists, dictionaries

data types in python

In [7]:
a=90
print(a)
a=-90
print(a)
a=100
print(a)

90
-90
100

In [9]:
a=100
b=a
a=80
print(a+b)

180

In [10]:
a=54.23
b=123.32
print(type(a))

<class 'float'>

In [12]:
a="hi i am from TExas"
a="123+100"
print(type(a),a)

<class 'str'> 123+100

In [14]:
# booleans are only two states: true or false
a=90
b=90
print(a==b) #true
print(a>b) #false
print(a<b) #false
print(a<=b) #true

True
False
False
True

In [ ]:
!pip install numpy

In [25]:
# numpy and pandas
import numpy as np
import pandas as pd

In [26]:
np

In [27]:
pd

In [36]:
np.random.random(10)*100 #bitwise operation

array([79.65031762, 36.12692287, 48.24275862, 42.73365732, 45.24783498,
       47.95957127, 73.09133083, 70.15564281, 71.53183164, 28.17780316])

In [41]:
# list: are ordered data types
myList = [1,2,3] # no bitwise operation
for i in myList:
    print(i*10)

10
20
30

In [43]:
pd.read_csv("C:/Users/Kanybek/Documents/cirruculum/data.csv")

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

In [44]:
# a.	Create a for loop that prompts the user to enter 3 different items, then appends them to new items list
# b.	Write a program for removing duplicates from the list, append unique values to new list
# ex: a=[1,2,1,3,2,4,4,5]
# new_list=[1,2,3,4,5]
# c.	Write a Python function to print a list where the values are square of numbers 
# between a and b. ex range(10,30)>>out : 100, 121,144,169,196,225,256.........900
# d.	write function where two strings are given, then remove letters from first string if they are in string2
# ex: string1='heyhowareyou'   string2='hurray'>>>output: 'eoweo'

In [46]:
a=[]
a.append(90)
a.append("hi")
a

[90, 'hi']

In [48]:
myList=[]
for i in range(3):
    item=input("enter your hobby:")
    myList.append(item)
print("these are my hobbies:",myList)

enter your hobby:playing chess
enter your hobby:eating
enter your hobby:sleeping
these are my hobbies: ['playing chess', 'eating', 'sleeping']

In [ ]:
# ex: a=[1,2,1,3,2,4,4,5]
# new_list=[1,2,3,4,5]

In [49]:
oldlist= [1,2,1,3,2,4,4,5]
newlist=[]
for i in oldlist:
    if i not in newlist:
        newlist.append(i)
print(newlist)

[1, 2, 3, 4, 5]